.mazda6-exterior-main-container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1400px;
}

.mazda6-exterior-main-container-header {
  display: grid;
  grid-template: auto/repeat(12, 1fr);
  grid-column-gap: 25px;
  align-items: center;
  margin-bottom: 35px;
}

.mazda6-exterior-main-container-header > h3 {
  text-align: center;
  margin-top: 35px;
  grid-column: 5/9;
}

.mazda6-exterior-main-container-header-link {
  grid-column: 11/13;
  cursor: pointer;
  position: relative;
  color: #999;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: normal;
  padding-top: 1.5rem;
}
