.final-data-mazda-cx5{
    max-width: 700px;
    margin: 0 auto;
    display: block;
    padding-top: 60px;
    height: 190vh;
}

.application-sender-cx5{
    padding-top: 100px;
    margin: 0 auto;
    display: block; 
    max-width: 350px;
    padding-bottom: 80px;
}
.button-share-friend-container-6{
    padding-top: 50px;
    padding-bottom: 10px;
    float: right;
}

.button-sender-applic-cx5-container{
    padding-bottom: 80px;
}

.application-sender-cx5>h2{ text-align: center; padding-bottom: 30px;}

.button-sender-applic-cx5-container{
    padding-bottom: 80px;
}

.response-status{
    padding-bottom: 40px;
}