.final-data-mazda-cx5{
    max-width: 700px;
    margin: 0 auto;
    display: block;
    padding-top: 60px;
}

.application-sender-cx5{
    padding-top: 100px;
    margin: 0 auto;
    display: block; 
    max-width: 350px;
    padding-bottom: 80px;
}


.button-sender-applic-cx5-container{
    padding-bottom: 80px;
}

.application-sender-cx5>h2{ text-align: center; padding-bottom: 30px;}

.button-sender-applic-cx5-container{
    padding-bottom: 80px;
}