.insurance-calc-start-container {
  margin : 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  
}

.insurance-calc-start-container > h2 {
  text-align: center;
  color: #000;
  font-family: inherit;
}

.insurance-calc-region-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1px;
  padding-top: 80px;
  justify-items: center;
  padding-bottom: 40px;
}

.insurance-calc-region-container > h4 {
  color: #000;
  padding-top: 20px;
}

.insurance-calc-car-container{
  
  padding-top: 40px;
  justify-items: center;
  padding-bottom: 80px;
  display: grid; 
  grid-template-columns: repeat(3, auto);
  grid-gap: 2px;
 
}

.insurance-cards-main-container{
  padding-top: 40px;
  justify-items: center;
  padding-bottom: 80px;
  display: grid; 
  grid-template-columns: repeat(2, auto);
  grid-gap: 2px;

}

.cards-item-type-ins{
  color: #999;
  padding: 30px;
}


.cards-item-ins {
  border-radius: 0px;
  border: black;
  padding: 1rem 0rem 1.6rem;
}

.cards-item-link-ins {
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #d5d5d5;
  background-color: #fff;
  height: 100%;
  height: 440px;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0rem 1.6rem;
  width: 400px;
}

.cards-item-link-ins:hover {
  box-shadow: inset 0 0 0 2.5px #807e7e;
  transition: all 0.2s;
  text-decoration: none;
}
.insurance-cards-start-container>h3{
  color: #000;
  padding-top: 40px;
  text-align: center;
}

.insurance-calc-car-container-h4 {
  color: #000;
  padding-top: 40px;
  justify-items: center;
  text-align: center;
}

.insurance-calc-car-container-checkboxes{
  display: grid; grid-template-columns: repeat(9, auto);
  grid-gap: 2px;
  padding-top: 25px;
}


.images-ins{
  padding-top: 40px;
}

.images-ins>img{
  width: 400px;
}

.images-ins>p{
 padding-top: 30px;
  font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(119, 117, 117);
    font-weight: 500;
}

.images-ins>h4{
  padding-top: 30px;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  color:#000;
  font-weight: 500;
 }

