.mazdacx5-exterior-tabs-container {
  width: 700px;
  display: block;
  margin: 0 auto;
}

.mazdacx5-exterior-main-container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1400px;
}

.mazdacx5-exterior-main-container-header {
  display: grid;
  grid-template: auto/repeat(12, 1fr);
  grid-column-gap: 25px;
  align-items: center;
}

.mazdacx5-exterior-main-container-header > h3 {
  text-align: center;
  margin-top: 35px;
  grid-column: 5/9;
}

.mazdacx5-exterior-main-container-header-link {
  grid-column: 11/13;
  cursor: pointer;
  position: relative;
  color: #999;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: normal;
  padding-top: 1.5rem;
}

.mazdacx5-exterior-main-container-header-link:hover {
  text-decoration: none;
  color: black;
}
.mazdacx5-exterior-main-container-main-part-photos {
  margin: 0 auto;
  width: 900px;
  height: 500px;
  display: block;
}

.mazdacx5-exterior-main-container-main-part-photos > img {
  width: 900px;
  height: 500px;
}

.mazdacx5-exterior-main-container-main-part-colors {
  display: grid;
  grid-template: auto/repeat(7, 1fr);
  grid-column-gap: 10px;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 800px;
  padding-bottom: 20px;
}
