.socmed_info {
  margin: 0 auto;
}

.socmed_text {
  font-size: 17px;
  text-align: center;
  line-height: 2rem;
}
.socmed_link {
  font-size: 18px;
  margin-left: 5px;
  color: purple;
}

.socmed_link:hover {
  color: #08020a;
  transition: 0.8s ease-in-out;
}
