.socmed_info {
  padding: 20px 0px 40px 0px;
}

.socmed_text {
  font-size: 17px;
  text-align: center;
  width: 85%;
  margin-left: 80px;
  line-height: 2rem;
}
.socmed_link {
  font-size: 18px;
  margin-left: 5px;
  color: purple;
}

.socmed_link:hover {
  color: #08020a;
  transition: 0.8s ease-in-out;
}
