.slider-car {
  position: relative;
  width: 1200px;
  height: 500px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider-img {
  position: absolute;
  width: 1000px;
  height: 400px;
  transition: all 0.2s;
}

.slider-img-prev {
  transform: translateX(0%);
}

.slider-img-next {
  transform: translateX(0%);
}
