.final-data-mazda6{
    max-width: 700px;
    margin: 0 auto;
    display: block;
    padding-top: 60px;
    height: 190vh;
}

.application-sender{
    padding-top: 100px;
    margin: 0 auto;
    display: block; 
    max-width: 350px;
    padding-bottom: 80px;
   
}

.application-sender>h2{ text-align: center; padding-bottom: 30px;}

.button-sender-applic-6-container{
    padding-bottom: 80px;
}


.button-share-friend-container-6{
    padding-top: 50px;
    padding-bottom: 10px;
    float: right;
}
.response-status{
    padding-bottom: 40px;
}