.options-main-container {
  margin: 0 auto;
  display: flex;
  padding: 1rem 0rem 1rem 0rem;
  max-width: 1200px;
}

@media screen and (max-width: 1024px) {
  .options-main-container {
    margin: 0 auto;
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
    max-width: 900px;
  }
}

@media screen and (max-width: 768px) {
  .options-main-container {
    margin: 0 auto;
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
    max-width: 600px;
  }
}

@media screen and (max-width: 500px) {
  .options-main-container {
    margin: 0 auto;
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
    max-width: 400px;
  }
}
