.final-data-mazda-cx9{
    max-width: 700px;
    margin: 0 auto;
    display: block;
    padding-top: 60px;
}

.application-sender-cx9{
    padding-top: 100px;
    margin: 0 auto;
    display: block; 
    max-width: 350px;
    padding-bottom: 80px;
}

.application-sender-cx9 .user-email-final-applic-cx9{
    padding-top: 30px;
}

.button-sender-applic-cx9-container{
    padding-bottom: 80px;
}