table {
  width: 100%;
  margin-top: 30px;
}

table th {
  padding: 10px 15px;
  
}

table td {
  padding: 10px 5px;

}

.container-table {
  width: 100%;
  max-width: 2020px;
  height: 100%;
  padding: 0 120px;
  margin: 0 auto;
}
.MuiSelect-icon {
  top: calc(42% - 12px)!important;
}

img {
  width: 150px;
  height: auto;
}

.css-1q1u3t4-MuiTableRow-root.Mui-selected {
  background-color: #DCDDE1!important ;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
display: grid!important;
}

.css-16c50h-MuiInputBase-root-MuiTablePagination-select .MuiTablePagination-select{
  padding-bottom: 13px!important;
}

.css-11bfvty-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions{
  margin-bottom: 10px!important;
}
.css-10by3a5-MuiButtonBase-root-MuiMenuItem-root-MuiTablePagination-menuItem.Mui-selected {
  background-color: #DCDDE1!important;
}
@media only screen and (max-width: 660px) {
  img {
    width: 100px;
    height: auto;
  }

  .container-table {
    padding: 0 80px;
    margin: 0 auto;
  }
}
