.feedback_info {
  margin: 0 auto;
}

.feedback_text {
  font-size: 17px;
  text-align: center;
  line-height: 2rem;
}
.feedback_link {
  font-size: 18px;
  margin-left: 5px;
  color: purple;
}

.feedback_link:hover {
  color: #08020a;
  transition: 0.8s ease-in-out;
}

@media screen and (max-width: 960px) {
  .feedback_text {
    width: 100%;
    text-align: center;
  }
  .feedback_info {
    margin: 0 auto;
  }
}
